In [ ]:
import pandas as pd
import cx_Oracle
import csv
import numpy as np
purprod = pd.read_csv('./data/구매상품TR.txt',encoding = "cp949")
purprodA = purprod[purprod['제휴사']=='A']
purprodA

In [ ]:
x = purprodA
columns = ['제휴사','영수증번호','대분류코드','중분류코드','소분류코드', 
           '고객번호','점포코드','구매일자','구매시간','구매금액',
           'YEAR','구매요일','월']
df_md = pd.DataFrame(x,columns=columns)

df_md['구매일자'] = df_md['구매일자'].astype(str)
df_md['구매일자'] = pd.to_datetime(df_md['구매일자'])

df_md['YEAR'] = df_md['구매일자'].dt.year
df_md['구매요일'] = df_md['구매일자'].dt.dayofweek
df_md['월'] = df_md['구매일자'].dt.month

# 제휴사 A의 총매출과 평균금액
md_sum = df_md['구매금액'].sum()
md_avg = df_md['구매금액'].mean()
md_count =df_md['영수증번호'].value_counts().sum()
md_count_avg =df_md['영수증번호'].value_counts().mean()
print(f'총금액:{md_sum}  평균금액:{round(md_avg,3)}')
print(f'총 구매건수:{md_count} 구매건수평균:{round(md_count_avg,2)}')
df_md

In [ ]:
a = df_md.loc[(df_md['월']<7) & (df_md['YEAR']==2014)]
t = a.groupby(['고객번호']).sum()[['구매금액']]
t

In [ ]:
b = df_md.loc[(df_md['월']>6) & (df_md['월']<13) & (df_md['YEAR']==2014)]
t1 = b.groupby(['고객번호']).sum()[['구매금액']]

In [ ]:
c = df_md.loc[(df_md['월']<7) & (df_md['YEAR']==2015)]
t2 = c.groupby(['고객번호']).sum()[['구매금액']]
t2

In [ ]:
d = df_md.loc[(df_md['월']>6) & (df_md['월']<13) & (df_md['YEAR']==2015)]
t3 = d.groupby(['고객번호']).sum()[['구매금액']]
t3

In [ ]:
df1=pd.merge(t,t1, on='고객번호',how='left')
df1=pd.merge(df1,t2, on='고객번호',how='left') 
df1=pd.merge(df1,t3, on='고객번호',how='left') 
df1=df1.sort_values(by='고객번호')
# df1=df1.reset_index().drop(['index'], axis=1)
df1

In [ ]:
import pandas as pd
import cx_Oracle
import csv
import numpy as np
gender = pd.read_csv('./data/고객DEMO.txt',encoding = "cp949")

In [ ]:
## 성별 타입 변환
y = gender
columns = ['고객번호','성별']
df_gender = pd.DataFrame(y,columns=columns)

df_gender['성별'] = df_gender['성별'].astype(str)

df_gender

In [ ]:
## 이름 바꿔서 합친거
df3 = pd.concat([df_gender,df1],axis=1)
df3.rename(columns={'구매금액_x':'14년상반기','구매금액_y':'14년하반기','구매금액_x':'15년상반기','구매금액_y':'15년하반기'},inplace=True)
df3

In [ ]:
# 월,년별 구매금액
ex = df_md.groupby(['월','YEAR']).sum()[['구매금액']]
ex