## 프로젝트 기반 AI 빅데이터 서비스 솔루션 개발 전문과정

#### 교과목명 : 프로그래밍 언어 활용

- 평가일 : 22.01.07
- 성명 : kevin
- 점수 : 100

※ 문제당 5점으로 채점

#### 1. numbers 리스트에서 15, 20, 25를 출력하세요.(for문과 if 조건 사용 필수)  
numbers = [5, 15, 6, 20, 7, 25]

In [1]:
numbers = [5, 15, 6, 20, 7, 25]

li = []
for i in numbers:
    if i > 10:
        li.append(i)
print(li)

[15, 20, 25]

#### 2. 아래 사용자 함수, 변수 리스트 및 2개의 내장함수를 각각 이용해서  [1, 4, 9, 16, 25], [1, 2]를 출력하세요.(내장함수 2개 사용 필수)

In [4]:
# 함수를 선언합니다.
def power(item):
    return item * item
def under_3(item):
    return item < 3

# 변수를 선언합니다.
list_input_a = [1, 2, 3, 4, 5]

In [8]:
def power(item):
    return item * item
def under_3(item):
    return item < 3

# 변수를 선언합니다.
input_a = [1, 2, 3, 4, 5]

out_a = map(power, input_a)
print(list(out_a))

out_b = filter(under_3, input_a)
print(list(out_b))

[1, 4, 9, 16, 25]
[1, 2]

#### 3. 정수를 입력하면 짝수 홀수 여부를 반환해주는 프로그램을 작성하세요.(정수 입력 후 '짝수', '홀수'가 일치하게 출력)

In [24]:
while 1:
    num = input('정수> ')
    if num.isdigit():
        num = int(num)
        if num % 2 == 0:
            print('짝수')
            break
        else:
            print('홀수')
            break
    else:
        print(f'입력한 내용 {num} : 정수가 아닙니다. ')

정수> 5.5
입력한 내용 5.5 : 정수가 아닙니다.
정수> 3
홀수

#### 4. 람다 함수를 이용해서 a의 b제곱에서 a x b를 뺀 수를 구하는 식을 만들고 그 식을 이용해서  a, b가 아래와 같이 주어졌을 때 각각의 값을 구하세요. 
a = 2, b = 5 \
a= 5, b = 2

In [16]:
x = lambda a,b : a**b - a*b
print(x(2,5))
print(x(5,2))

22
15

#### 5. 123456789를 입력하면 천 단위로 콤마로 구분하여 출력하세요.

In [51]:
num = input('아무 숫자를 입력하세요: ')
if num.isdigit():
    num = num[::-1]
    ret = ''
    for i, c in enumerate(num):
        i += 1
        if i != len(num) and i % 3 == 0:
            ret += (c + ',')
        else:
            ret += c
    ret = ret[::-1]
    print(ret)
else:
    print(f'입력한 내용 {num} : 숫자가 아닙니다. ')

아무 숫자를 입력하세요: 123456789
123,456,789

#### 6. example_list = ["요소A", "요소B", "요소C"]를 파이썬 내장함수를 이용하여 아래와 같이 출력하세요. 
0번째 요소는 요소A입니다.\
1번째 요소는 요소B입니다.\
2번째 요소는 요소C입니다.

In [30]:
example_list = ["요소A", "요소B", "요소C"]
for i,value in enumerate(example_list):
    print(f'{i}번째 요소는 {value}입니다.')

0번째 요소는 요소A입니다.
1번째 요소는 요소B입니다.
2번째 요소는 요소C입니다.

#### 7. 97을 40으로 나눈 몫과 나머지를 내장함수를 이용하여 구하세요.(튜플로 출력 필수)

In [31]:
divmod(97,40)

(2, 17)

#### 8. list_number = [52, 273, 32, 72, 100]로 변수 선언하고 정수를 입력하면 그 정수 인덱스와 리스트에서 해당하는 값을 출력하는 프로그램을 작성하세요. 단, 모든 예외처리를 수행하며 특히 ValueError와 IndexError는 별도 구분해서 예외처리 한 후 '예외처리 완료'를 마지막으로 출력하세요.

- 4 입력시 \
정수 입력> 4 \
4번째 요소: 100
예외 처리 완료

- 문자 입력시 \
정수 입력> 가 \
정수를 입력해 주세요!
예외 처리 완료

- 5 입력시 \
정수 입력> 5 \
리스트의 인덱스를 벗어났어요!
예외 처리 완료

In [32]:
list_number = [52, 273, 32, 72, 100]

try:
    num = int(input('0~4 정수 입력> '))
    print(f'{num}번째 요소: {list_number[num]}')
except ValueError:
    print('정수를 입력해 주세요')
except IndexError:
    print('리스트의 인덱스를 벗어났어요!')
except Exception as e:
    print(e)
finally:
    print('예외 처리 완료')

0~4 정수 입력> 가
정수를 입력해 주세요
예외 처리 완료

#### 9. 사용자로부터 서로 다른 숫자 두 개를 입력받고 첫 번째 와 두 번째중 큰 숫자를 구하는 프로그램을 수행하세요.

In [33]:
n1 = int(input('정수 입력> '))
n2 = int(input('정수 입력> '))

if n1 > n2:
    print(n1)
else:
    print(n2)

정수 입력> 5
정수 입력> 3
5

#### 10. 1부터 100까지 아래와 같은 방식으로 2개의 수를 곱해서 가장 큰 수를 구하세요.

 1 * 99 ...99 * 1

In [34]:
max_value = 0
for i in range(1,100):
    j = 100 - i
    current = i * j
    if max_value < current:
        max_value = current
print(max_value)

2500

#### 11. 정규표현식을 사용하여 text에서 지역코드만 출력하세요.
text = "문의사항이 있으면 032-232-3245 으로 연락주시기 바랍니다."

In [36]:
import re
text = "문의사항이 있으면 032-232-3245 으로 연락주시기 바랍니다."
p = re.compile('(\d+)-(\d+)-(\d+)')
m = p.search(text)
m.group(1)

'032'

#### 12. 'abcdefghij' 에 대하여 중첩을 적용한 서브그룹 5개로 컴파일하여 group()함수를 이용하여 'abcdefghi'와 e'를 출력하세요

In [52]:
import re
text = 'abcdefghij'
p = re.compile('(a(b(c(d(e)f)g)h)i)j')
m = p.search(text)
print(m.group(1))
print(m.group(5))

abcdefghi
e

#### 13. [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 'a', 'b', 'c']에서 9와 'a'를 삭제 후 리스트로 출력하세요

In [38]:
li = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 'a', 'b', 'c']
del li[-4:-2]
li

[0, 1, 2, 3, 4, 5, 6, 7, 8, 'b', 'c']

#### 14. 500 ~ 1000사이의 정수 중 5와 7의 공배수의 합을 구하세요

In [39]:
sum = 0
for i in range(500,1001):
    if i % 35 == 0:
        sum += i
print(sum)

10535

#### 15. [    ]을 채워서 아래와 같이 출력하세요.
[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

In [ ]:
numbers = [1,2,3,4,5,6,7,8,9]
output = [[], [], []]

for number in numbers:
    output[     ].append(number)
print(output)

In [40]:
numbers = [1,2,3,4,5,6,7,8,9]
output = [[], [], []]

for number in numbers:
    output[(number+2)%3].append(number)
print(output)

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

####  16. numbers 내부에 들어 있는 숫자가 몇 번 등장하는지를 출력하는 코드를 작성하세요.
numbers = [3,6,3,5,8,2,9,7,4,3,6,3,5,8,2,9,7,4]

In [41]:
numbers = [3,6,3,5,8,2,9,7,4,3,6,3,5,8,2,9,7,4]
counter = {}
for num in numbers:
    if num in counter:
        counter[num] += 1
    else:
        counter[num] = 1
print(counter)

{3: 4, 6: 2, 5: 2, 8: 2, 2: 2, 9: 2, 7: 2, 4: 2}

#### 17. 클래스 Country를 완성하여 아래와 같이 출력하세요.

In [26]:
class Country:
  


class Korea(Country):    

    def desc1(self,gnp):
        self.gnp = gnp
        print('1인당 gnp는 USD %d만입니다.' %self.gnp)
        
obj = Korea('한국',5,'서울')
obj.desc()
obj.desc1(3)

한국의 인구는 5천만명이며 수도는 서울입니다.
1인당 gnp는 USD 3만입니다.

In [42]:
class Country:
    def __init__(self,name,pop,capital):
        self.name = name
        self.pop = pop
        self.capital = capital
        
    def desc(self):
        print('%s의 인구는 %d천만명이며 수도는 %s입니다.' %(self.name,self.pop,self.capital))

class Korea(Country):    

    def desc1(self,gnp):
        self.gnp = gnp
        print('1인당 gnp는 USD %d만입니다.' %self.gnp)
        
obj = Korea('한국',5,'서울')
obj.desc()
obj.desc1(3)

한국의 인구는 5천만명이며 수도는 서울입니다.
1인당 gnp는 USD 3만입니다.

#### 18. 사칙연산을 수행하는  클래스를 작성하여 객체를 만들고 2개의 정수 10, 5를 입력한 후 연산 결과를  포멧을 이용하여 출력하세요.

In [44]:
class FourCal:
    def __init__(self,first,second):
        self.first = first
        self.second = second
    def sum(self):
        result = self.first + self.second
        return result
    def mul(self):
        result = self.first * self.second
        return result
    def sub(self):
        result = self.first - self.second
        return result
    def div(self):
        result = round(self.first / self.second)
        return result
    
n1 = int(input('정수 입력> '))
n2 = int(input('정수 입력> '))
cal4 = FourCal(n1,n2)

print(f'덧셈:{cal4.sum()}, 곱셈:{cal4.mul()}, 뺄셈:{cal4.sub()}, 나눗셈:{cal4.div()}')

정수 입력> 100
정수 입력> 10
덧셈:110, 곱셈:1000, 뺄셈:90, 나눗셈:10

#### 19. 올해 경과된 날짜수를 계산하여 출력하세요.

In [53]:
import time
t = time.localtime()
t

time.struct_time(tm_year=2022, tm_mon=1, tm_mday=7, tm_hour=16, tm_min=33, tm_sec=48, tm_wday=4, tm_yday=7, tm_isdst=0)

In [48]:
import time
t = time.localtime()
start_day = f'{t.tm_year}-01-01'
elapsed_day = t.tm_yday
print(f'오늘은 {start_day} 이후 {elapsed_day} 일째 되는 날입니다.')

오늘은 2022-01-01 이후 7 일째 되는 날입니다.

#### 20. 2015년 인기순 상위5개 여아이름별 출생아수를 출력하세요.('data/names/yob2015.txt')

In [55]:
filename = 'data/names/yob2015.txt'

nameF = {}
with open(filename,'r') as f:
    data = f.readlines()
    for d in data:
        if d[-1] == '\n':
            d = d[:-1]
        tmp = d.split(',')
        name = tmp[0]
        sex = tmp[1]       
        birth = tmp[2]
        
        if sex == 'F':
            ret = nameF
        else:
            pass
        if name in ret:
            ret[name] += int(birth)
        else:
            ret[name] = int(birth)
            
retF = sorted(nameF.items(),key = lambda x:x[1], reverse = True)

for i,name in enumerate(retF):
    if i > 4:
        break
    print(f'TOP_{i+1} 여자 아기 이름 : {name}')

TOP_1 여자 아기 이름 : ('Emma', 20473)
TOP_2 여자 아기 이름 : ('Noah', 19783)
TOP_3 여자 아기 이름 : ('Olivia', 19714)
TOP_4 여자 아기 이름 : ('Liam', 18406)
TOP_5 여자 아기 이름 : ('Sophia', 17444)