In [ ]:
# 입력값이 없고 결과값만 있는 함수
def say():
    return 'HI'

a = say()
print(a)

HI

In [ ]:
# 입력값은 있고 결과값이 없는 함수
# 결과값은 오직 return 명령어로만 돌려 받을 수 있음
def add(a,b):
    print('%d, %d의 합은 %d입니다.' %(a,b,a+b))
add(3,4)

3, 4의 합은 7입니다.

In [ ]:
# 입력값도 결과값도 없는 함수

def say():
    print('Hi')
    
say()

Hi

In [ ]:
# 입력값, 결과값이 모두 있는 함수
def max(a,b,c):
    if a>b:
        if a>c:
            return a
        elif a<c:
            return c
    if a<b:
        if b>c:
            return b
        else:
            return c

# print("가장 큰 수는 %d입니다." %(max(20,1,30)))
max(10,20,30)

30

In [ ]:
def math(x, y, z):
    if z == '*':
        return x*y
    elif z== '/':
        return x/y
    elif z== '+':
        return x+y
    elif z== '%':
        return x%y
    elif z== '^':
        return x**y
    elif z== '-':
        return x-y
    elif z== '//':
        return x//y
    else:
        return

# print(math(int(input("숫자1 : ")), int(input("숫자2 : ")), input("기호 : ")))
math(10,2,'//')

5

In [ ]:
def com(a,b):
    if a>b:
        return f'{a} bigger than {b}'
    elif a<b:
        return f'{a} smaller than {b}'
    else:
        return f'{a} equal {b}'
com(3,3)

'3 equal 3'

In [ ]:
# 여러 개의 입력값을 받는 함수 만들기
# *args 처럼 입력 변수명 앞에 *를 붙이면 입력값들을 전부 모아서 튜플로 만들어 줌

def add_many(*args):
    add = 0
    for i in args:
        add += i
    return add

add_many(1,2,3,4,5,6,7,8,9,10)

55

In [ ]:
# 함수의 반환 값은 언제나 하나임 - 결과 값으로 튜플 값 하나를 갖게 됨
def add_and_mul(a,b):
    return a+b, a*b

result = add_and_mul(3,4)
print(result)

(7, 12)

In [ ]:
# add_mul() 함수를 정의하여 1,2,3,4,5를 입력 값으로 적용하여 덧셈,곱셈 연산을 수행하세요.
def add_mul(choice, *args):
    
    
add_mul('add', 1,2,3,4,5)

In [ ]:
def add_mul(choice, *args):
    if choice == '+':
        result = 0
        for i in args:
            result += i
        return result
    elif choice == '*':
        result = 1
        for i in args:
            result *= i
        return result
    else :
        print('수행할 수 없는 연산입니다.')

add_mul('*',1,2,3,4,5)
add_mul('+',1,2,3,4,5)

15

In [ ]:
# [과제] 뻴셈, 나눗셈 멀티 계산 함수를 작성
# ('sub', 2,4,6,8,10)
# ('div', 2,4,6,8,10)

In [3]:
def sub_div (choice, *args) :
    if choice == "sub":
        result = args[0]
        for i in args[1:] : 
            result -= i
        return result
    elif choice == 'div':
        result = args[0]
        for i in args[1:] :
            if i == 0:
                return print("오류")
            result /= i
        return result 

print(sub_div('sub', 2,4,6,8,10))
print(sub_div('div', 2,4,6,8,10))

-26
0.5

In [ ]:
# 수정 요
def sub_div(choice,*args):
    if choice == 'sub':
        result = args[0]
        for i in range(1,len(args)):
            result -= args[i]
        return result
            
    elif choice == 'div':
        if 0 in args:
            return 'failed to calculate'
        result = args[0]
        for i in range(1,len(args)):
            result /= args[i]
        return result
    else:
        return 'wrong input'
        
sub_div('div',2,4,6,8,10)

0.0010416666666666667

In [ ]:
# 함수 안에서 선언된 변수의 효력 범위
a = 1
def vartest(a):    
    a = a + 1
    
print(vartest(a))
print(a)

None
1

In [ ]:
# 함수 안에서 함수 밖의 변수를 변경하는 방법 - return 이용

a = 1
def vartest(a):
    a =  a+1
    return a
a = vartest(a)
print(a)

2

In [ ]:
# global 명령을 이용하는 방법
a = 1
def vartest():
    global a
    a = a + 1
    
vartest()
print(a)

2

In [ ]:
%pwd

'C:\\cakd5\\workspace\\m1_programming'

In [ ]:
# 파일 읽고 쓰기
f = open('test1.txt','w')
f.close()

In [ ]:
f = open('test1.txt','w')
for i in range(1,11):
    data = '%d번째 줄입니다.\n' %i
    f.write(data)
f.close()

In [ ]:
f = open('test1.txt','r')
line = f.readline()
print(line)
f.close()

1번째 줄입니다.

In [ ]:
f = open('test1.txt', 'r')
for i in range(10):
    line = f.readline()
    print(line)
f.close()

1번째 줄입니다.

2번째 줄입니다.

3번째 줄입니다.

4번째 줄입니다.

5번째 줄입니다.

6번째 줄입니다.

7번째 줄입니다.

8번째 줄입니다.

9번째 줄입니다.

10번째 줄입니다.

In [ ]:
f = open('test1.txt','r')
while True:
    line = f.readline()
    if not line: break
    print(line)
f.close()

1번째 줄입니다.

2번째 줄입니다.

3번째 줄입니다.

4번째 줄입니다.

5번째 줄입니다.

6번째 줄입니다.

7번째 줄입니다.

8번째 줄입니다.

9번째 줄입니다.

10번째 줄입니다.

In [ ]:
# f.read()는 파일 내용 전체를 문자열로 반환
f = open('test.txt','r')
data = f.read()
print(data)
f.close()

1번째 줄입니다.
2번째 줄입니다.
3번째 줄입니다.
4번째 줄입니다.
5번째 줄입니다.
6번째 줄입니다.
7번째 줄입니다.
8번째 줄입니다.
9번째 줄입니다.
10번째 줄입니다.

In [ ]:
f = open('test1.txt', 'a')
for i in range(11,16):
    data = '%d번째 줄입니다.\n' %i
    f.write(data)
f.close()

In [ ]:
f = open('test1.txt','r')
data = f.read()
print(data)
f.close()

1번째 줄입니다.
2번째 줄입니다.
3번째 줄입니다.
4번째 줄입니다.
5번째 줄입니다.
6번째 줄입니다.
7번째 줄입니다.
8번째 줄입니다.
9번째 줄입니다.
10번째 줄입니다.
11번째 줄입니다.
12번째 줄입니다.
13번째 줄입니다.
14번째 줄입니다.
15번째 줄입니다.

In [ ]:
# with문과 같이 사용
with open('foo.txt','w') as f:
    f.write('파이썬을 배웁시다.')

In [ ]:
with open('foo.txt','r') as f:
    data = f.read()
    print(data)

파이썬을 배웁시다.

In [ ]:
with open('test1.txt','w') as f:
      for i in range(1,11):
          data = f'{i}번째 줄입니다.\n'
          f.write(data)

In [ ]:
with open('test1.txt','a') as f:
      for i in range(11,16):
          data = f'{i}번째 줄입니다.\n'
          f.write(data)

In [ ]:
with open('test1.txt','r') as f:
    data = f.read()
    print(data)

1번째 줄입니다.
2번째 줄입니다.
3번째 줄입니다.
4번째 줄입니다.
5번째 줄입니다.
6번째 줄입니다.
7번째 줄입니다.
8번째 줄입니다.
9번째 줄입니다.
10번째 줄입니다.
11번째 줄입니다.
12번째 줄입니다.
13번째 줄입니다.
14번째 줄입니다.
15번째 줄입니다.

내장함수, 외장함수

https://codedrive.tistory.com/91

In [ ]:
# 내장함수
print(abs(-3))
print(all([1,2,3,0])) # x가 모두 참이면 True, 거짓이 하나라도 있으면 False
print(any([1,2,3,0])) # x가 하나라도 참이면 True, 모두 거짓이면 False
print(chr(65))

3
False
True
A

In [ ]:
sum = lambda a,b:a+b
sum(3,4)

7

In [ ]:
myList = [lambda a,b:a+b, lambda a,b:a*b]
print(myList[0](3,4))
print(myList[1](3,4))

7
12

In [ ]:
print(len('python'))
print(len([1,2,3]))
print(len([1,2,'a']))

6
3
3

In [ ]:
list(range(5))
list(range(1,6))
list(range(1,10, 2))
list(range(0, -10, -1))

[0, -1, -2, -3, -4, -5, -6, -7, -8, -9]

In [ ]:
print(divmod(7,3))

(2, 1)

In [ ]:
# 순서가 있는 자료형을 입력으로 받아 인덱스 값을 포함한 enumerate 객체를 리턴
for i, name in enumerate(['james','tom','susan']):
    print(i,name)

0 james
1 tom
2 susan

In [ ]:
# 실행 가능한 문자열 입력으로 받아 문자열을 실행한 결과값을 리턴
print(eval('1+2'))

3

In [ ]:
li = [0,1,2,3,5,4]
li.sort(reverse=True)
li

[5, 4, 3, 2, 1, 0]

In [ ]:
# 정렬된 결과를 반환하는 함수는 본체는 변형되지 않는다.
li = [0,2,1,5,4]
s = sorted(li)
print(s)
li

[0, 1, 2, 4, 5]

[0, 2, 1, 5, 4]

In [ ]:
# 외장함수 : 전 세계 파이썬 사용자들이 만든 유용한 프로그램을 모아 놓은 파이썬 라이브러리. 파이썬을 설치할 때 자동으로 설치
# pickle은 객체의 형태를 유지하면서 파일에 저장하고 불러올 수 있게 하는 모듈

import pickle
f = open('test.txt', 'wb')
data = {1:'python',2:'you need'}
pickle.dump(data,f)
f.close()

In [ ]:
import pickle
f = open('test.txt','rb')
data = pickle.load(f)
print(data)
f.close()

{1: 'python', 2: 'you need'}

In [ ]:
import os
os.environ['PATH']

'C:\\Users\\admin\\anaconda3\\envs\\cakd5;C:\\Users\\admin\\anaconda3\\envs\\cakd5\\Library\\mingw-w64\\bin;C:\\Users\\admin\\anaconda3\\envs\\cakd5\\Library\\usr\\bin;C:\\Users\\admin\\anaconda3\\envs\\cakd5\\Library\\bin;C:\\Users\\admin\\anaconda3\\envs\\cakd5\\Scripts;C:\\WINDOWS\\system32;C:\\WINDOWS;C:\\WINDOWS\\System32\\Wbem;C:\\WINDOWS\\System32\\WindowsPowerShell\\v1.0\\;C:\\WINDOWS\\System32\\OpenSSH\\;C:\\Users\\admin\\anaconda3;C:\\Users\\admin\\anaconda3\\Library\\mingw-w64\\bin;C:\\Users\\admin\\anaconda3\\Library\\bin;C:\\Users\\admin\\anaconda3\\Scripts;C:\\Users\\admin\\AppData\\Local\\Microsoft\\WindowsApps;'

In [ ]:
%pwd

'C:\\cakd5\\workspace\\m1_programming'

In [ ]:
# 폴더변경
os.chdir('C:\cakd5\workspace')

In [ ]:
os.chdir('C:\cakd5\workspace\m1_programming')

In [ ]:
%pwd

'C:\\cakd5\\workspace\\m1_programming'

In [ ]:
os.getcwd()

'C:\\cakd5\\workspace\\m1_programming'

In [ ]:
!dir

 C 드라이브의 볼륨에는 이름이 없습니다.
 볼륨 일련 번호: B0F9-D068

 C:\cakd5\workspace\m1_programming 디렉터리

2021-12-31  오후 12:25    <DIR>          .
2021-12-31  오후 12:25    <DIR>          ..
2021-12-30  오후 02:48    <DIR>          .ipynb_checkpoints
2021-12-31  오전 11:29                18 foo.txt
2021-12-29  오전 09:10             3,886 Jupyter notebook 사용법.ipynb
2021-12-31  오후 12:15                40 test.txt
2021-12-31  오전 11:35               261 test_new.txt
2021-12-31  오전 10:31           106,156 기초.ipynb
2021-12-28  오후 04:18            94,995 매직명령어.jpg
2021-12-31  오후 12:24            27,409 함수.ipynb
               7개 파일             232,765 바이트
               3개 디렉터리  923,144,957,952 바이트 남음

In [ ]:
import os
os.rename('test1.txt','test_new.txt')

In [ ]:
# glob() 함수는 인자로 받은 패턴과 이름이 일치하는 모든 파일과 디렉토리의 리스트를 반환
import glob
glob.glob('C:\cakd5\workspace\m1_programming/*.txt')

['C:\\cakd5\\workspace\\m1_programming\\foo.txt',
 'C:\\cakd5\\workspace\\m1_programming\\test.txt',
 'C:\\cakd5\\workspace\\m1_programming\\test_new.txt']

In [6]:
import time
time.time()

1641092121.969425

In [ ]:
# 반환된 실수값을 이용해서 연도, 월, 일, 시, 분, 초의 형태로 바꾸어 줌
time.localtime(time.time())

time.struct_time(tm_year=2021, tm_mon=12, tm_mday=31, tm_hour=12, tm_min=32, tm_sec=2, tm_wday=4, tm_yday=365, tm_isdst=0)

In [ ]:
# 날짜와 시간을 알아보기 쉬운 형태로 리턴# 날짜와 시간을 알아보기 쉬운 형태로 리턴
time.asctime(time.localtime(time.time()))

'Fri Dec 31 12:32:39 2021'

In [7]:
# asctime과 다른 점은 ctime은 항상 현재 시간만을 리턴
time.ctime()

'Sun Jan  2 02:55:33 2022'

In [ ]:
# time.sleep() : 일정한 시간 간격을 두고 루프를 실행할 수 있음

import time
for i in range(5):
    print(i)
    time.sleep(2)

0
1
2
3
4

In [ ]:
import calendar
print(calendar.prmonth(2021,12))

   December 2021
Mo Tu We Th Fr Sa Su
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29 30 31
None

In [ ]:
# 요일(0 월요일 ~ 6 일요일)
print(calendar.weekday(2021,12,31))

4

In [ ]:
# 1일의 요일, 날수
calendar.monthrange(2022,1)

(5, 31)

In [ ]:
import webbrowser
webbrowser.open('http://google.com')

True

In [ ]:
# 내장함수를 이용해서 list = [0,1,2,3,4,5,6]에서 2를 삭제 후 출력하세요.
a=[0,1,2,3,4,5,6]
del a[2]
print(a)

[0, 1, 3, 4, 5, 6]

In [ ]:
lt = [0, 1, 2, 3, 4, 5, 6]
print(lt)
lt.pop(2)
print(lt)

[0, 1, 2, 3, 4, 5, 6]
[0, 1, 3, 4, 5, 6]

In [ ]:
lt = [0, 1, 2, 3, 4, 5, 6]
lt.remove(2)
lt

[0, 1, 3, 4, 5, 6]

In [ ]:
# 내장함수를 이용해서 list = [0,1,2,3,4,5,6]에서 모든 원소를 삭제 후 출력하세요.
List=[0,1,2,3,4,5,6]
del List[:]
print(List)

[]

In [ ]:
# 람다함수와 적합한 내장함수를 사용하여 아래와 같이 출력하세요
[1,2,3,4,5] -> [1,4,9,16,25]
[1,2,3,4,5] -> [1,2]

In [ ]:
square = lambda a: a*a 
lst = [square(i) for i in range(1,6)]
print(lst)

lst_2 = [1,2,3,4,5]
filtered_list = filter(lambda a: (a < 3), lst_2)

print(list(filtered_list))

[1, 4, 9, 16, 25]
[1, 2]

In [ ]:
li = [1,2,3,4,5]
blank = [[],[],[],[],[]]

exp = lambda a,b:(li[a]**b)
for i in range(5):
    blank[i]= exp(i,2)
print(blank)

del li[2:]
print(li)

[1, 4, 9, 16, 25]
[1, 2]

In [ ]:
# [1,-3,2,0,-5,6] 에서 양수만 필터링해서 출력하세요(내장함수, 사용자함수 각각 이용)

In [ ]:
x=[1,-3,2,0,-5,6]
list(filter(lambda x: x > 0 , x))

[1, 2, 6]

In [ ]:
# 내장함수를 이용하여 동일한 개수로 이루어진 자료형을 화살표 좌측에서 우측으로 변환하세요
[1,2,3],[4,5,6] -> [(1,4),(2,5),(3,6)]
[1,2,3],[4,5,6] [7,8,9] -> [(1,4,7),(2,5,8),(3,6,9)]
('abc','def') -> [('a','d'),('b','e'),('c','f')]

In [ ]:
a = [1, 2, 3]
b = [4, 5, 6]
c = [7, 8, 9]

ab = list(zip([1,2,3],[4,5,6]))
print(ab)
                        
abc = list(zip([1,2,3],[4,5,6], [7,8,9]))
print(abc)

alp_1 = list(zip('abc', 'def'))
print(alp_1)

[(1, 4), (2, 5), (3, 6)]
[(1, 4, 7), (2, 5, 8), (3, 6, 9)]
[('a', 'd'), ('b', 'e'), ('c', 'f')]

In [ ]:
num = [1,2,3]
lt = ['a','b','c']
for pair in zip(num, lt):
    print(pair)

(1, 'a')
(2, 'b')
(3, 'c')

In [ ]:
# 입력으로 들어오는 모든 수의 평균 값을 계산해 주는 함수를 작성한 후 1,2,3을 입력한 결과를 출력하세요.

In [ ]:
def avg(*args):
    sum=0
    for i in args:
        sum+=i
    return sum/len(args)
avg(1,2,3,4)

2.5

In [2]:
# [과제] strings를 다양한 문자가 포함된 순서로 정렬하세요.
strings = ['a', 'ca', 'bar', 'aaaa', 'ababa']

strings.sort(key = lambda x:len(set(x)))
strings[::-1]

['bar', 'ababa', 'ca', 'aaaa', 'a']

In [ ]:
# [과제] 튜플 형태인 strings를 다양한 문자가 포함된 순서로 정렬하세요.
strings = ['a', 'ca', 'bar', 'aaaa', 'ababa']

In [3]:
# Q. 튜플 형태인 strings를 다양한 문자가 포함된 순서로 정렬하세요,
strings = ('a', 'ca', 'bar', 'aaaa', 'ababa')
lists = list(strings)
lists.sort(key=lambda x : len(set(x)))

lists[::-1]

['bar', 'ababa', 'ca', 'aaaa', 'a']

In [5]:
tup = tuple(lists)
tup[::-1]

('bar', 'ababa', 'ca', 'aaaa', 'a')